*{ font-family: 'Do Hyeon', sans-serif;
}

body{
    background-color: rgb(252, 208, 63);
}
#container {
    width: 500px;
    height: 300px;
    text-align: center;
    margin-top: 300px;
}
#title{
    color:white;
}

#sub-container{
    width: 100%;
    height: 300px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
}

#list-group{
    padding-top: 20px;
}

.list-group-item{
    border:none !important;
    border-bottom: 1px solid #eee !important;
}


#input-group{
    margin-top: 10px;
}

#input-area{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#button-area{
    border:none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: grey;
    color: white;
}